@charset "UTF-8";
/*Estilos de fuente*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
body {
  margin: 0px;
  background-color: white;
}

/*Títulos*/
h1, h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 42px;
}

h4 {
  font-family: "IBM Plex Sans-SemiBold", sans-serif;
  color: #060A24;
  font-size: 24px;
  line-height: 32px;
}

p {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  color: #060A24;
  font-size: 14px;
  line-height: 22px;
}

/*propiedades contenedor principal*/
.main-container {
  background-color: white;
  width: 100%;
  max-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  height: 5436px;
  position: relative;
  overflow: hidden;
  /*flex*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
}

/*Encabezado general*/
header .encabezado {
  width: 100%;
  height: 347px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
}

header .encabezado .menu-barra {
  width: 100%;
  height: 44px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .encabezado .menu-barra #logobd {
  height: 24px;
  width: 24px;
  margin: 10px 0 10px 16px;
}

header .encabezado .menu-barra .menu-h {
  margin: 16px 19px 16px 0px;
}

/*Propiedades menú hamburguesa*/
.menu-h {
  width: 18px;
  height: 12px;
  margin: 0;
  position: relative;
}

.menu-h #desplegable {
  position: absolute;
  left: -9999px;
}

.menu-h label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

.menu-h .linea-menu {
  width: 18px;
  height: 2px;
  color: #000000;
  background-color: #060A24;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(2) {
  opacity: 0;
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
}

#links-menu {
  width: 320px;
  height: 224px;
  position: absolute;
  top: 25px;
  right: -18px;
  margin: 0px;
  background-color: #0000EC;
  display: none;
  list-style-type: none;
  z-index: 5;
}

#links-menu li a {
  display: block;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace, sans-serif;
  line-height: 28px;
  text-decoration: none;
  padding: 16px 0px 8px 16px;
  color: #FFFFFF;
}

#desplegable:checked + #links-menu {
  display: block;
}

/*Otros elementos del encabezado*/
.encabezado
h1 {
  margin: 29px 72px 16px 16px;
}

/*título principal*/
p {
  margin: 0px 16px 36px 16px;
}

button {
  width: 288px;
  height: 48px;
  background-color: #00F3BB;
  border: none;
  margin: 0px 16px 24px 16px;
  font-family: 'IBM Plex Mono-Medium', monospace, sans-serif;
  color: #060A24;
  font-weight: 900;
  font-size: 16px;
}

button:hover {
  color: #FFFFFF;
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

/*Propiedades contenido principal*/
main .episodios {
  width: 100%;
  height: 1203.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0 100%);
          clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0 100%);
}

main .episodios h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 64px 147px 21px 16px;
}

main .episodios > iframe {
  width: 298px;
  height: 225px;
  margin: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img_phone {
  width: 360px;
  height: 519px;
  margin: 0px;
  background-image: url("/IMAGENES/phone.png");
  background-size: contain;
  background-position: center left;
  position: absolute;
  top: 1455px;
  z-index: 1;
}

.origen {
  width: 100%;
  height: 346px;
  margin: 0px;
  position: absolute;
  top: 1970px;
}

.origen h3 {
  margin: 27px 16px 8px 16px;
}

.origen p {
  margin: 0px 16px 0px 16px;
}

.invitados {
  width: 100%;
  margin: 0px;
  position: absolute;
  top: 2401px;
}

.invitados h3 {
  margin: 0px 16px 14px 16px;
}

.invitados > img {
  width: 320px;
  height: 243px;
  margin: 0px -3px -4px 0px;
}

.temas {
  width: 100%;
  height: 886px;
  position: absolute;
  top: 4004px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.temas h3 {
  margin: 0px;
  padding: 0px 16px 24px 16px;
}

.temas > div.box {
  width: 320px;
  height: 162px;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
}

.temas .box.box2 {
  height: 194px;
}

.temas .box > img {
  width: 104px;
  height: 104px;
  margin: auto;
}

.temas h4 {
  text-align: center;
  margin: 0px;
}

.novedades {
  width: 100%;
  height: 341px;
  position: absolute;
  top: 4974px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.novedades h2 {
  margin: 64px 16px 36px 16px;
}

.novedades button {
  width: 288px;
  height: 48px;
  background-color: #00F3BB;
  border: none;
  margin: 0px;
  font-family: 'IBM Plex Mono-Medium', monospace, sans-serif;
  color: #060A24;
  font-weight: 900;
  font-size: 16px;
}

.novedades button:hover {
  color: #FFFFFF;
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

/*Footer*/
.redes {
  width: 100%;
  height: 121px;
  position: absolute;
  top: 5315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.redes p {
  text-align: center;
  margin: 24px 16px 16px 17px;
}

.redes .logos {
  width: 231px;
  margin: 0px 45px 31px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.redes .logos > img {
  width: 16px;
  height: 28px;
}

/* Responsive design */
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .main-container {
    max-width: 1400px;
    width: 100%;
    height: 3915px;
  }
  h1 {
    font-size: 64px;
    line-height: 84px;
  }
  h2, h3 {
    font-size: 48px;
    line-height: 62px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  header .encabezado {
    width: 100%;
    height: 449px;
  }
  header .encabezado .menu-barra {
    width: 100%;
    height: 80px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  header .encabezado .menu-barra #logobd {
    width: 36px;
    height: 36px;
    margin: 22px 0px 22px 100px;
  }
  header .encabezado .menu-barra .menu-h label {
    display: none;
  }
  header .encabezado .menu-barra #links-menu {
    width: 482px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 13px;
    margin: 0px 100px 0px 0px;
    padding: 0px;
    background-color: white;
  }
  #links-menu li a {
    font-size: 16px;
    line-height: 28px;
    margin: auto;
    padding: 0px;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
    color: #060A24;
  }
  #links-menu li a:hover {
    color: #00F3BB;
    font-family: 'IBM Plex Mono-Medium', monospace, sans-serif;
    text-decoration: line-through;
  }
  #links-menu li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  .encabezado h1 {
    margin: 120px 200px 0px 200px;
  }
  #punto {
    color: #0000EC;
  }
  p {
    margin: 0px 612px 56px 200px;
  }
  button {
    width: 226px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
    margin: 0px 1014px 5px 200px;
  }
  main .episodios {
    height: 1042.6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 100px 232.6px 100px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0 100%);
            clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0 100%);
  }
  main .episodios h2 {
    margin: 186px 930px 26px 100px;
  }
  main .episodios > iframe {
    width: 550px;
    height: 245px;
    margin: 10px;
  }
  main .img_phone {
    width: 457.6px;
    height: 660px;
    position: absolute;
    top: 1323px;
    left: 200px;
    background-position: center center;
  }
  main .origen {
    width: 464px;
    height: 300px;
    position: absolute;
    top: 1512px;
    left: 720px;
  }
  main .origen h3 {
    margin: 0px;
    padding: 0px;
  }
  main .origen p {
    margin: 0px;
  }
  main .invitados {
    width: 100%;
    position: absolute;
    top: 2047px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main .invitados > img {
    width: 450px;
    height: 360px;
  }
  main .invitados h3 {
    margin: 0px 0px 36px 200px;
  }
  main .temas {
    width: 100%;
    height: 426px;
    position: absolute;
    top: 2840px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  main .temas h3 {
    display: block;
    padding: 64px 500px 56px 200px;
  }
  main .temas .box {
    height: 210px;
    width: 260px;
  }
  main .temas .box.box4 {
    width: 220px;
    height: 240px;
  }
  main .temas .box.box2 {
    height: 240px;
  }
  main .novedades {
    width: 100%;
    height: 518px;
    position: absolute;
    top: 3299px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
  }
  main .novedades button {
    width: 345px;
    height: 56px;
    background-color: #00F3BB;
    border: none;
    margin: 0px;
    font-family: 'IBM Plex Mono-Medium', monospace, sans-serif;
    color: #060A24;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
  }
  footer .redes {
    width: 100%;
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 3817px;
  }
  footer .redes p {
    margin: 36px 0px 31px 100px;
  }
  footer .redes .logos {
    margin: 36px 100px 31px 0;
  }
  footer .redes .logos > img {
    width: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .main-container {
    max-width: 1440px;
    width: 100%;
    height: 3915px;
  }
  h1 {
    font-size: 64px;
    line-height: 84px;
  }
  h2, h3 {
    font-size: 48px;
    line-height: 62px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  header .encabezado {
    width: 100%;
    height: 449px;
  }
  header .encabezado .menu-barra {
    width: 100%;
    height: 80px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  header .encabezado .menu-barra #logobd {
    width: 36px;
    height: 36px;
    margin: 22px 0px 22px 100px;
  }
  header .encabezado .menu-barra .menu-h label {
    display: none;
  }
  header .encabezado .menu-barra #links-menu {
    width: 482px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 13px;
    margin: 0px 100px 0px 0px;
    padding: 0px;
    background-color: white;
  }
  #links-menu li a {
    font-size: 16px;
    line-height: 28px;
    margin: auto;
    padding: 0px;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
    color: #060A24;
  }
  #links-menu li a:hover {
    color: #00F3BB;
    font-family: 'IBM Plex Mono-Medium', monospace, sans-serif;
    text-decoration: line-through;
  }
  #links-menu li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  .encabezado h1 {
    margin: 120px 200px 0px 200px;
  }
  #punto {
    color: #0000EC;
  }
  p {
    margin: 0px 612px 56px 200px;
  }
  button {
    width: 226px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
    margin: 0px 1014px 5px 200px;
  }
  main .episodios {
    height: 1042.6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 100px 232.6px 100px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0 100%);
            clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0 100%);
  }
  main .episodios h2 {
    margin: 186px 930px 26px 100px;
  }
  main .episodios > iframe {
    width: 584px;
    height: 232px;
  }
  main .episodios > iframe:nth-child(2) {
    margin: 0 72px 72px 0;
  }
  main .episodios > iframe:nth-child(3) {
    margin-bottom: 72px;
  }
  main .img_phone {
    width: 457.6px;
    height: 660px;
    position: absolute;
    top: 1323px;
    left: 200px;
    background-position: center center;
  }
  main .origen {
    width: 464px;
    height: 300px;
    position: absolute;
    top: 1512px;
    left: 720px;
  }
  main .origen h3 {
    margin: 0px;
    padding: 0px;
  }
  main .origen p {
    margin: 0px;
  }
  main .invitados {
    width: 100%;
    position: absolute;
    top: 2047px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main .invitados > img {
    width: 480px;
    height: 364px;
  }
  main .invitados h3 {
    margin: 0px 0px 36px 200px;
  }
  main .temas {
    width: 100%;
    height: 426px;
    position: absolute;
    top: 2840px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  main .temas h3 {
    display: block;
    padding: 64px 638px 56px 200px;
  }
  main .temas .box {
    height: 210px;
    width: 260px;
  }
  main .temas .box.box4 {
    width: 220px;
    height: 240px;
  }
  main .temas .box.box2 {
    height: 240px;
  }
  main .novedades {
    width: 100%;
    height: 518px;
    position: absolute;
    top: 3299px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
  }
  main .novedades button {
    width: 345px;
    height: 56px;
    background-color: #00F3BB;
    border: none;
    margin: 0px;
    font-family: 'IBM Plex Mono-Medium', monospace, sans-serif;
    color: #060A24;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
  }
  footer .redes {
    width: 100%;
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 3817px;
  }
  footer .redes p {
    margin: 36px 0px 31px 100px;
  }
  footer .redes .logos {
    margin: 36px 100px 31px 0;
  }
  footer .redes .logos > img {
    width: 18px;
  }
}
/*# sourceMappingURL=style.css.map */